# Inference Server Configuration
VITE_INFERENCE_SERVER_ADDRESS=https://eurygaster.ru/api-inference

# Entries Server Configuration
VITE_ENTRIES_SERVER_ADDRESS=https://eurygaster.ru/api-entries

# Binary Classification Threshold (0.0 to 1.0)
VITE_BINARY_THRESHOLD=0.5

# Keycloak Authentication Configuration
VITE_AUTH_URL=https://identity.eurygaster.ru
VITE_AUTH_REALM=eurygaster-svc
VITE_AUTH_CLIENT_ID=eurygaster-client

# Preview Carousel Configuration
VITE_PREVIEW_N_RECENT=10
VITE_PREVIEW_ICON_SIZE=100
VITE_PREVIEW_ICON_MARGIN=10
VITE_PREVIEW_ICON_BORDER=8
VITE_PREVIEW_CAROUSEL_SPEED_SEC=10

# Recent Entries Configuration. Shows as a table on the login page.
VITE_ENTRIES_N_RECENT=5
